{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">
                Todos
            </h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <div class="col-md-4">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col-md-12">
            {% for todo in todos %}
            <p class="lead">
                {{ todo.title }} (Done: {{ todo.is_done }}) <a href="{% url 'todo' todo.id %}" class="btn btn-info btn-sm">View Details</a>
            </p>
            {% empty %}
            <p>No todos yet...</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
